.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  /* Cor de fundo do rodapé */
  color: #fff;
  /* Cor do texto do rodapé */
  text-align: center;
  padding: 10px 0;
  /* Espaçamento interno para o conteúdo do rodapé */
}